@font-face {
  font-family: 'caecilia';
  src: url("../fonts/caecilia.eot");
  src: url("../fonts/caecilia.eot?#iefix") format("embedded-opentype"), url("../fonts/caecilia.woff") format("woff"), url("../fonts/caecilia.woff2") format("woff2"), url("../fonts/caecilia.ttf") format("truetype"), url("../fonts/caecilia.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'caeciliaItalic';
  src: url("../fonts/caeciliaItalic.eot");
  src: url("../fonts/caeciliaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/caeciliaItalic.woff") format("woff"), url("../fonts/caeciliaItalic.woff2") format("woff2"), url("../fonts/caeciliaItalic.ttf") format("truetype"), url("../fonts/caeciliaItalic.svg") format("svg");
  font-weight: normal; }
@font-face {
  font-family: 'gothamLight';
  src: url("../fonts/gothamLight.eot");
  src: url("../fonts/gothamLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamLight.woff") format("woff"), url("../fonts/gothamLight.woff2") format("woff2"), url("../fonts/gothamLight.ttf") format("truetype"), url("../fonts/gothamLight.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamBook';
  src: url("../fonts/gothamBook.eot");
  src: url("../fonts/gothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamBook.woff") format("woff"), url("../fonts/gothamBook.woff2") format("woff2"), url("../fonts/gothamBook.ttf") format("truetype"), url("../fonts/gothamBook.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

body {
  background-color: #f8f8f8; }

.left_aside {
  font-family: "caecilia", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background-color: #f8f8f8;
  border-right: 1px solid #f1f1f1;
  padding-right: 3px; }

.right_aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: #f8f8f8;
  border-left: 1px solid #f1f1f1;
  padding-left: 3px; }

.left_nav .icon_wrap {
  border-radius: 50%;
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid #f1f1f1;
  margin-top: 5px;
  margin-bottom: 5px; }
.left_nav img {
  height: 25px;
  margin: 7px; }
.left_nav ul {
  margin-left: 5px;
  padding: 0; }

.right_nav .icon_wrap {
  border-radius: 50%;
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid #f1f1f1;
  margin-top: 5px;
  margin-bottom: 5px; }
.right_nav img {
  height: 25px;
  margin: 7px; }
.right_nav ul {
  margin-right: 25px;
  padding: 0; }

.stats {
  font-family: "caecilia", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #f1f1f1;
  height: 40px; }

.stats_wrap {
  margin: 5px 200px; }

.time_count {
  font-size: 1.2em;
  text-align: left;
  display: inline-block; }

.character_count {
  font-size: 1.2em;
  float: right;
  display: inline-block; }

section.part {
  width: 600px;
  margin: 200px auto; }

.i_name {
  font-family: "caecilia", sans-serif;
  margin-top: 20px;
  font-size: 2em; }

.i_body {
  font-family: "gothamLight", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px; }

.summary_wrap {
  width: 600px; }
  .summary_wrap .i_name {
    font-size: 1.5em;
    font-family: "caeciliaItalic", sans-serif; }
  .summary_wrap p {
    padding: 15px 0 15px 15px;
    font-family: "gothamLight", sans-serif;
    background-color: white; }

hr.style_one {
  border: 0;
  height: 1px;
  background: #37b34a; }

.main_text {
  margin: 100px; }

textarea {
  font-family: "gothamLight", sans-serif;
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  padding: 20px; }
  textarea:hover, textarea:focus, textarea:visited, textarea:active {
    border: none; }
  textarea input:focus {
    outline: none !important;
    border: none;
    box-shadow: 0 0 0 #fff; }

.move_buttons {
  position: fixed;
  bottom: 75px;
  right: 100px;
  width: 100px;
  height: 150px; }
  .move_buttons img {
    -webkit-filter: drop-shadow(0px 0px 0.3px #f1f1f1);
    filter: drop-shadow(0px 0px 0.3px #f1f1f1); }
  .move_buttons .save_button {
    float: left;
    margin-top: 60px;
    cursor: pointer; }
  .move_buttons .up_button, .move_buttons .down_button {
    position: absolute;
    right: 0;
    cursor: pointer; }
  .move_buttons img {
    height: 30px;
    display: block; }
  .move_buttons .up_button {
    top: 0; }
  .move_buttons .down_button {
    bottom: 0; }

/*# sourceMappingURL=app.css.map */
