@font-face {
  font-family: 'caecilia';
  src: url("../fonts/caecilia.eot");
  src: url("../fonts/caecilia.eot?#iefix") format("embedded-opentype"), url("../fonts/caecilia.woff") format("woff"), url("../fonts/caecilia.woff2") format("woff2"), url("../fonts/caecilia.ttf") format("truetype"), url("../fonts/caecilia.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'caeciliaItalic';
  src: url("../fonts/caeciliaItalic.eot");
  src: url("../fonts/caeciliaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/caeciliaItalic.woff") format("woff"), url("../fonts/caeciliaItalic.woff2") format("woff2"), url("../fonts/caeciliaItalic.ttf") format("truetype"), url("../fonts/caeciliaItalic.svg") format("svg");
  font-weight: normal; }
@font-face {
  font-family: 'gothamLight';
  src: url("../fonts/gothamLight.eot");
  src: url("../fonts/gothamLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamLight.woff") format("woff"), url("../fonts/gothamLight.woff2") format("woff2"), url("../fonts/gothamLight.ttf") format("truetype"), url("../fonts/gothamLight.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamBook';
  src: url("../fonts/gothamBook.eot");
  src: url("../fonts/gothamBook.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamBook.woff") format("woff"), url("../fonts/gothamBook.woff2") format("woff2"), url("../fonts/gothamBook.ttf") format("truetype"), url("../fonts/gothamBook.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icomoon.eot?gkcyt8");
  src: url("../fonts/icomoon.eot?#iefixgkcyt8") format("embedded-opentype"), url("../fonts/icomoon.ttf?gkcyt8") format("truetype"), url("../fonts/icomoon.woff?gkcyt8") format("woff"), url("../fonts/icomoon.svg?gkcyt8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-add:before {
  content: "\e600"; }

.icon-background:before {
  content: "\e601"; }

.icon-background2:before {
  content: "\e602"; }

.icon-calendar:before {
  content: "\e603"; }

.icon-cartAdd:before {
  content: "\e604"; }

.icon-cartRemove:before {
  content: "\e605"; }

.icon-characters:before {
  content: "\e606"; }

.icon-check:before {
  content: "\e607"; }

.icon-downArrow:before {
  content: "\e608"; }

.icon-folder:before {
  content: "\e609"; }

.icon-font:before {
  content: "\e60a"; }

.icon-fullsize:before {
  content: "\e60b"; }

.icon-help:before {
  content: "\e60c"; }

.icon-hierarchy:before {
  content: "\e60d"; }

.icon-index:before {
  content: "\e60e"; }

.icon-index2:before {
  content: "\e60f"; }

.icon-keyboard:before {
  content: "\e610"; }

.icon-lock:before {
  content: "\e611"; }

.icon-login:before {
  content: "\e612"; }

.icon-logo:before {
  content: "\e613"; }

.icon-nav:before {
  content: "\e614"; }

.icon-progress:before {
  content: "\e615"; }

.icon-question:before {
  content: "\e616"; }

.icon-quoteL:before {
  content: "\e617"; }

.icon-quoteR:before {
  content: "\e618"; }

.icon-save:before {
  content: "\e619"; }

.icon-settings:before {
  content: "\e61a"; }

.icon-star:before {
  content: "\e61b"; }

.icon-subtract:before {
  content: "\e61c"; }

.icon-text:before {
  content: "\e61d"; }

.icon-time:before {
  content: "\e61e"; }

.icon-uncheck:before {
  content: "\e61f"; }

.icon-upArrow:before {
  content: "\e620"; }

.icon-user:before {
  content: "\e621"; }

.icon-video:before {
  content: "\e622"; }

.icon-characters2:before {
  content: "\e623"; }

.icons {
  color: #212121; }
  .icons.dark {
    color: #757575; }

body {
  background-color: #FAFAFA; }

.aside {
  font-family: "caecilia", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 5%;
  background-color: #FAFAFA; }
  .aside.left {
    left: 0;
    padding-right: 3px; }
  .aside.right {
    right: 0;
    padding-left: 3px; }

.icons-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 0; }

.icons {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 5px 5px 0 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1; }

.icons:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.icons:before {
  font-family: 'icons';
  speak: none;
  font-size: 30px;
  line-height: 45px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased; }

.icons-effect-2 .icons {
  color: #4CAF50;
  box-shadow: 0 0 0 3px #FAFAFA;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }

.icons-effect-2 .icons:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #FAFAFA;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s; }

.no-touch .icons-effect-2a .icons:hover {
  color: #4CAF50;
  background: #fff;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26); }

.no-touch .icons-effect-2a .icons:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85); }

.aside .icons {
  color: #FAFAFA; }

.aside:hover .icons {
  color: #4CAF50;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26) !important; }

.stats {
  font-family: "caecilia", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FAFAFA;
  border-top: 1px solid #f1f1f1;
  height: 40px; }

.stats_wrap {
  margin: 5px 200px; }
  .stats_wrap span {
    color: #BDBDBD;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26) !important; }

.time_count {
  font-size: 1.2em;
  text-align: left;
  display: inline-block; }

.character_count {
  font-size: 1.2em;
  float: right;
  display: inline-block; }

section.part {
  width: 600px;
  margin: 200px auto; }

.i_name {
  font-family: "caecilia", sans-serif;
  margin-top: 20px;
  font-size: 2em; }

.i_body {
  font-family: "gothamLight", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1.5em; }

.summary_wrap {
  width: 600px; }
  .summary_wrap .i_name {
    font-size: 1.5em;
    font-family: "caeciliaItalic", sans-serif; }
  .summary_wrap p {
    padding: 15px 0 15px 15px;
    font-family: "gothamLight", sans-serif;
    background-color: white; }

hr.style_one {
  border: 0;
  height: 1px;
  background: #4CAF50; }

.main_text {
  margin: 100px; }

.user_body form textarea:focus, .user_body form input:focus {
  outline: none; }

textarea {
  font-family: "gothamLight", sans-serif;
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  padding: 20px; }

.move_buttons {
  position: fixed;
  bottom: 75px;
  right: 100px;
  width: 100px;
  height: 150px; }
  .move_buttons .icons {
    color: #4CAF50;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26); }
  .move_buttons .save_button {
    float: left;
    margin-top: 60px;
    cursor: pointer; }
  .move_buttons .up_button, .move_buttons .down_button {
    position: absolute;
    right: 0;
    cursor: pointer; }
  .move_buttons .up_button {
    top: 0; }
  .move_buttons .down_button {
    bottom: 0; }

/*# sourceMappingURL=app.css.map */
