@import 'fonts';
@import 'icons';


//https://www.google.com/design/spec/style/color.html#color-color-palette 
// Color 1
$c1: #37b34a; $c1a: #E8F5E9; $c1b: #C8E6C9; $c1c: #A5D6A7; $c1d: #81C784; $c1e: #66BB6A; $c1g: #43A047; $c1h: #388E3C; $c1i: #2E7D32;$c1j: #1B5E20;
// Grey Scale
$g: #9E9E9E; 
$g_a: #FAFAFA; $g_b: #F5F5F5; $g_c: #EEEEEE; $g_d: #E0E0E0; $g_e: #BDBDBD; $g_g: #757575; $g_h: #616161; $g_i: #424242; $g_j: #212121; 
// Fonts
$bookFont: 'gothamBook', sans-serif;
$lightFont: 'gothamLight', sans-serif;
$typeface: 'caecilia', sans-serif;
$typeface2: 'caeciliaItalic', sans-serif;

a { text-decoration: none;}
// Global Styles
.icons { color: $g_j;  &.dark { color: $g_g; } }

body { background-color: $g_a;}
.aside { font-family: $typeface; position: fixed; top: 0; bottom: 0; width: 75px;; background-color:$g_a; &.left { left: 0; 
padding-right: 3px; } &.right { right: 0; padding-left: 3px; } }

// Icons
.icons-wrap {
	text-align: center; margin: 0 auto; padding: 2em 0 0; }
.icons { display: inline-block; font-size: 0px;	cursor: pointer;	margin: 5px 5px 0 5px; width: 45px; height: 45px;	border-radius: 50%; text-align: center;	position: relative;	z-index: 1; }
.icons:after { pointer-events: none; position: absolute; width: 100%;	height: 100%;	border-radius: 50%;	content: '';	-webkit-box-sizing: content-box; 	-moz-box-sizing: content-box; 	box-sizing: content-box; }
.icons:before {	font-family: 'icons';	speak: none;	font-size: 24px;
	line-height: 45px;	font-style: normal;	font-weight: normal;	font-variant: normal;	text-transform: none;	display: block;	-webkit-font-smoothing: antialiased; }
.icons-effect-2 .icons {	color: $c1;	box-shadow: 0 0 0 3px $g_a;	-webkit-transition: color 0.3s;	-moz-transition: color 0.3s; transition: color 0.3s; }
.icons-effect-2 .icons:after { 	top: -2px;	left: -2px;	padding: 2px;
	z-index: -1;	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;	-moz-transition: -moz-transform 0.2s, opacity 0.2s;	transition: transform 0.2s, opacity 0.2s; }
.no-touch .icons-effect-2a .icons:hover {	color: $c1; text-shadow: 0.2px 0.2px rgba(0, 0, 0, 0.26); color: white; background-color: $c1;       transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1); box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); border: 1px solid $c1;}
.no-touch .icons-effect-2a .icons:hover:after {	-webkit-transform: scale(0.85);	-moz-transform: scale(0.85); -ms-transform: scale(0.85); transform: scale(0.85); border: 0; }


.aside .icons { color: $g_a; }
.aside:hover .icons { color: $c1; text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26); border: 1px solid $c1c; background-color: white; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);}

.stats { font-family: $typeface; position: fixed; bottom: 0; left: 0; width: 100%; background-color:$g_a; border-top: 1px solid #f1f1f1; height: 40px; }
.stats_wrap { margin: 5px 200px; span { color: $g_e;text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26) !important;  } }
.time_count { font-size: 1.2em; text-align: left; display: inline-block; }
.character_count { font-size: 1.2em; float: right; display: inline-block; }

section.part { width: 600px; margin: 200px auto;}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
 
.clearfix:after {
    clear: both;
}
/* Common styles and resets */

.dotstyle { margin-top: 25px; }
.dotstyle ul { position: relative; display: inline-block; padding: 2px; margin-left: 5px; margin-top:0; margin-bottom: 0; list-style: none; cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.stage_number{ display: inline-block; padding-left: 25px; }
.dotstyle li { position: relative; display: block; float: left; margin: 0 16px; width: 10px;
    height: 10px; cursor: pointer; } 
.dotstyle li a { top: 0; left: 0; width: 100%; height: 100%; outline: none; border-radius: 50%; background-color: #fff; background-color: rgba(255, 255, 255, 0.3); text-indent: -999em; /* make the text accessible to screen readers */ cursor: pointer; position: absolute; }
.dotstyle li a:focus { outline: none; }

.dotstyle-tooltip li { border: 2px solid $c1b; border-radius: 50%; z-index: 1; -webkit-transition: border-color 0.3s ease; transition: border-color 0.3s ease; margin-top: 0.2em; }
.dotstyle-tooltip li a { top: auto; bottom: 250%; left: 25px; visibility: hidden; text-decoration: none; padding: 0 10px; min-width: 100px; font-size: 0.8em; margin-left: 15px; height: auto; border-radius: 0; background-color: $c1d; color: #fff; text-indent: 0; line-height: 2; opacity: 0; -webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%); -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease; transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-tooltip li a::after { /* http: //cssarrowplease.com/ */
    position: absolute;
    left: 25px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-color: transparent;
    border-top-color: $c1d;
    content: '';
    pointer-events: none;
    top: 99%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.no-touch .dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
    z-index: 100;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current {
    border-color: #c44d48;
}

.dotstyle-tooltip li:hover {
    z-index: 100;
}

.no-touch .dotstyle-tooltip ul:hover li.current a {
    opacity: 0.2;
}

.dotstyle-tooltip ul li.current:hover a {
    opacity: 1;
}


// instructions
.i_wrap { }
.i_head { }
.i_name { font-family: $typeface; margin-top: 20px; font-size: 2em; color: $g_j; span{ color: $c1; } .icon-check { font-size: 1.8em; color: $g_c} }
.vids_wrap {}
.i_vids {}
.i_body { font-family: $lightFont; margin-top: 20px; margin-bottom: 20px; padding: 10px; line-height: 1.5em; color: $g_j;}
.i_time {}
.stage_i { 
    .stage_i_head {  width: 700px; margin: 0 auto; 
        .i_head { margin: 100px auto; font-family: $typeface2; color: $c1; font-size: 1.5em; 
            .i_body { color: $g_j; } 
            span {color: $g_e; font-family: $typeface2; font-size: 0.7em; &.end { color: $c1; font-size: 0.7em; font-family: $typeface; }}  
        }
    .i_end{ margin-top:0; height: 100%;  }
    }
}
.summary_wrap { width: 600px; margin: 200px auto; .i_name { font-size: 1.2em; font-family:$typeface2; } p{ padding: 15px 0 15px 15px; font-family: $lightFont; background-color: white; } }
hr.style_one { border: 0; height: 1px; background: $c1; margin-bottom: 50px; margin-top: 25px;}

.main_text { margin: 100px;  }
.user_body { form textarea:focus, form input:focus{ outline: none; } }

textarea { font-family: $lightFont; font-size: 1em; width: 100%; height: 100%; display: block; border: none; padding: 20px;}
.move_buttons {   position: fixed; bottom: 75px; right: 100px; width: 100px; height: 150px;  .icons {  color: $c1c; text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.26);	} .save_button{ float:left; margin-top: 60px; cursor: pointer; }.up_button,.down_button { position:absolute; right: 0; cursor: pointer;} .up_button { top: 0;} .down_button { bottom: 0; }}

// .animate-hide {-webkit-transition: all linear 0.2s;transition: all linear 0.2s; line-height: 20px; opacity: 1; padding: 10px; background: white; }

// .animate-hide.ng-hide { line-height: 0; opacity: 0; padding: 0 10px;}

#circle { border-radius: 50%; position: relative; cursor: pointer; 
    &:hover:after { left: 0; top: 0; } }
/* ///// SUB CIRCLES ///// */
#sub { height: 100%; z-index: 1; visibility:hidden; 
    .circle { top: 0;opacity: 0; transition: 0.2s opacity; 
        .icons { } 
        &:nth-child(1) { top: 60px; } 
        &:nth-child(2) { top: 90px; } 
        &:nth-child(3) { top: 120px;} 
        &:nth-child(1):after { background: rgba(126, 53, 108, 0.6); } 
        &:nth-child(2):after { background: rgba(49, 124, 61, 0.6); } 
        &:nth-child(3):after { background: rgba(135, 43, 45, 0.6); }
        &:after {}
        /* HOVER */
        &:hover:after { left: 0; top: 0; } 
    } 
}

.circle:hover + #sub .circle:nth-child(1) { opacity:1; transition-delay:0.05s; }.circle:hover + #sub .circle:nth-child(2) { opacity:1; transition-delay:0.1s; } .circle:hover + #sub .circle:nth-child(3) { opacity:1;
    transition-delay:0.15s; } 
    .circle:hover + #sub { visibility:visible; }
#sub:hover { visibility:visible; }
#sub:hover > .circle { opacity:1; }