<div ng-show="!email"><h1>No conversation selected</h1></div>
<form id="replyForm" ng-submit="sendForm()" ng-show="shouldShowReply">
  <!-- Reply bar -->
  <div class="row collapse">
    <div class="small-1 large-1 columns">
      <span class="prefix">To</span>
    </div>
    <div class="small-11 large-11 columns">
      <input ng-model="reply.to" type="text" placeholder="">
    </div>

  <!-- response -->
    <div class="small-12 large-12 columns">
      <textarea ng-bind-html-unsafe="reply.body" ng-model="reply.body">{{reply.body}}</textarea>
    </div>
  </div>
  
  <button ng-click="sendReply()" class="button radius">Send</button>
  <button ng-click="cancelReply()" class="button radius alert">Cancel</button>
</form>

<div ng-show="email" class="email">
  <div class="row header">
    <div class="columns small-6">{{email.subject}}</div>
    <div class="columns small-6">{{email.sent_at|date:'MM/dd/yy'}}</div>
  </div>
  <div class="row actions">
    <div class="columns small-8"><b>{{email.from.join(", ")}}</b> to <b>{{email.to.join(", ")}}</b></div>
    <a ng-click="showReply()" class="button radius push-1">Reply</a>
  </div>
  
  <div class="row body">
    <div class="columns large-12" ng-bind-html-unsafe="email.body"></div>
  </div>