<main class="main_text" ng-controller="PartController">

<section id="i2_1" class="part" time="120">  
  <div class="i_wrap">  
    <div class="i_head">
      <div class="i_name"> Title and Briefly Describe Your Ideal Future</div><!-- - /i_name - -->
      <div class="vids_wrap">
        <div class="i_vids"></div><!-- - /i_vids - -->  
      </div><!-- -/vids_wrap - -->   
    </div><!-- -/i_head - -->      
    <div class="i_body">
    	Please specify a title and brief description for your ideal future as a whole. This can be as simple as "My Ideal Future," in both fields, or, if you have something more personal in mind, you can specify that. Imagine that you are both specifying and summarizing your ambitions with this title. This will help you remember what you are aiming for.<br></br>In later screens you can define, prioritize, and analyze specific goals.
    </div><!-- - /i_body - -->
    <div class="i_time">
    	
    </div><!-- - /i_time - -->
  </div><!-- - /i_wrap - -->
	<div class="user_body">
		<form action="#">
		  <div class="">
        <textarea ng-model="i2_1" cols="30" rows="30"></textarea>  
		    <label class="" for=""></label>
		  </div>
		</form> 
	</div><!-- -/ user_body - -->
</section><!-- -/ part - -->	

<section id="i2_2" class="part" time="120">  
  <div class="i_wrap">  
    <div class="i_head">
      <div class="i_name">One Thing You Could Do Better</div><!-- - /i_name - -->
      <div class="vids_wrap">
        <div class="i_vids"></div><!-- - /i_vids - -->  
      </div><!-- -/vids_wrap - -->   
    </div><!-- -/i_head - -->      
    <div class="i_body">
    	If you could choose only one thing that you could do better, what would it be? 
    </div><!-- - /i_body - -->
    <div class="i_time">
    	
    </div><!-- - /i_time - -->
  </div><!-- - /i_wrap - -->
	<div class="user_body">
		<form action="#">
		  <div class="">
        <textarea ng-model="i2_2" cols="30" rows="30"></textarea>  
		    <label class="" for=""></label>
		  </div>
		</form> 
	</div><!-- -/ user_body - -->
</section><!-- -/ part - -->

<section id="i2_3" class="part" time="120">  
  <div class="i_wrap">  
    <div class="i_head">
      <div class="i_name">One Thing You Could Do Better</div><!-- - /i_name - -->
      <div class="vids_wrap">
        <div class="i_vids"></div><!-- - /i_vids - -->  
      </div><!-- -/vids_wrap - -->   
    </div><!-- -/i_head - -->      
    <div class="i_body">
    	If you could choose only one thing that you could do better, what would it be? 
    </div><!-- - /i_body - -->
    <div class="i_time">
    	
    </div><!-- - /i_time - -->
  </div><!-- - /i_wrap - -->
	<div class="user_body">
		<form action="#">
		  <div class="">
        <textarea ng-model="i2_3" cols="30" rows="30"></textarea>  
		    <label class="" for=""></label>
		  </div>
		</form> 
	</div><!-- -/ user_body - -->
</section><!-- -/ part - -->


<section id="i2_4" class="part" time="120">  
  <div class="i_wrap">  
    <div class="i_head">
      <div class="i_name">One Thing You Could Do Better</div><!-- - /i_name - -->
      <div class="vids_wrap">
        <div class="i_vids"></div><!-- - /i_vids - -->  
      </div><!-- -/vids_wrap - -->   
    </div><!-- -/i_head - -->      
    <div class="i_body">
    	If you could choose only one thing that you could do better, what would it be? 
    </div><!-- - /i_body - -->
    <div class="i_time">
    	
    </div><!-- - /i_time - -->
  </div><!-- - /i_wrap - -->
	<div class="user_body">
		<form action="#">
		  <div class="">
        <textarea ng-model="i2_4" cols="30" rows="30"></textarea>  
		    <label class="" for=""></label>
		  </div>
		</form> 
	</div><!-- -/ user_body - -->
</section><!-- -/ part - -->
</main><!-- -/main- -->

